.account-view{
  background-color: lightgray;
  padding: 15px;
  height: 100%;
  width:100vw;
  font-size: 18px;
}

.account-view-card{
  width: 600px;
  height:auto;
  padding: 25px;
  background-color: white;
}
