<div fxLayout="column" fxLayoutGap="5px" class="add-address-form">
  <h2 *ngIf="showHeader">Add Address</h2>
  <mat-form-field>
    <input matInput placeholder="Address" [(ngModel)]="address.addressLine1" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Address" [(ngModel)]="address.addressLine2">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="City" [(ngModel)]="address.city" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Country" [(ngModel)]="address.country" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Postcode" [(ngModel)]="address.postcode" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Mobile" [(ngModel)]="contact.telnumber" required>
  </mat-form-field>
  <div>
    <button mat-button>Cancel</button>
    <button mat-button (click)="addAddress()">Save</button>
  </div>
</div>
