<label>{{title}}</label>
<div class="address-display" fxLayout="column" fxLayoutGap="10px" *ngIf="customer && !editMode">
  <div>
    <div>{{customer.primaryAddress.addressLine1}}</div>
  </div>
  <div *ngIf="customer.primaryAddress.addressLine2">
    <div>{{customer.primaryAddress.addressLine2}}</div>
  </div>
  <div>
    <div>{{customer.primaryAddress.city}}</div>
  </div>
  <div>
    <div>{{customer.primaryAddress.country}}</div>
  </div>
  <div>
    <div>{{customer.primaryAddress.postcode}}</div>
  </div>
  <button mat-raised-button (click)="changeMode()">Change</button>
</div>

<address-form *ngIf="editMode" [customer]="customer" [onSave]="onSave"  [onCancel]="onCancel" [user]="user" [showHeader]="false"> </address-form>

