<div class="product-list">
  <div *ngIf="products && products.length>0"  fxLayout="column" fxLayoutGap="32px">
    <div class="product-card" *ngFor="let product of products">
      <img class="product-img" [src]="product.img"/>
      <div class="product-info">
        <div class="product-title">{{product.name}}</div>
        <div class="product-price">{{product.price}}</div>
      </div>
    </div>
  </div>
  <div class="no-items-box" *ngIf="!products || (products && products.length==0)">
    <div>
      <div><mat-icon class="no-items-icon">settings</mat-icon></div>
      <div>No Items Found. <br/> Try adding some</div>
    </div>

  </div>
  <button *ngIf="user && user.isAdmin" class="fixed-fab-btn" mat-fab (click)="openAddDialog()">
      <mat-icon>add</mat-icon>
  </button>
</div>

