table {
  width: 100%;
}

.product-list{
  padding: 15px;
  display: inline-block;
}

.product-info{
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  opacity: .7;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.product-title{
  font-family: futura-pt,sans-serif;
  font-size: 14px;
  letter-spacing: .5px;
  line-height: 20px;
}
.product-price{
  font-family: futura-pt,sans-serif;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 2px;
}
.product-card{
  height: 200px;
  position: relative;
  width:300px;
  overflow: hidden;
  margin: 15px;
}
.product-img{
  height:100%;
}

.fixed-fab-btn{
  position: fixed;
  bottom: 50px;
  right: 50px;
}
